{{ $options := dict -}}
{{ with index .Attributes "view-key" -}}
  {{ if ne ( printf "%T" . ) "string" -}}
    {{ errorf "Code block %q: boolean value expected for attribute %q, but got %s. Error position: %s" $.Type "view-key" (printf "%T" .) $.Position  -}}
  {{ end -}}
  {{ $options = merge $options ( dict "no-transparency" . ) -}}
{{ end -}}

{{ $params := dict "validAttributes" ( slice "view-key" ) -}}
{{ $params := merge $params ( dict "type" "structurizr" "context" . "options" $options "diagramSource" .Inner) -}}

{{ partial "kroki.html" $params -}}
