{{ $supportedFormats := slice "svg" "png" -}}
{{ $validAttributes := slice "antialias" "no-transparency" "no-doctype" "size" -}}

{{ partial "diagrams/kroki-render-hook.html" ( dict "context" .
                                                    "type" "packetdiag"
                                                    "options" ( partial "diagrams/blockdiag.html" . )
                                                    "supportedFormats" $supportedFormats
                                                    "validAttributes" $validAttributes
                                             ) 
-}}
