{{ $options := dict -}}
{{ with .Attributes.theme -}}
  {{ if not ( or ( eq ( printf "%T" . ) "string" ) ( eq ( printf "%T" . ) "float64" )) -}}
    {{ errorf "Code block %q: decimal or string value expected for attribute %q, but got %s. Error position: %s" $.Type "theme" (printf "%T" .) $.Position  -}}
  {{ end -}}
  {{ $options = merge $options ( dict "theme" . ) -}}
{{ end -}}

{{ $params := dict "validAttributes" ( slice "theme" ) -}}
{{ $params := merge $params ( dict "type" "d2" "context" . "options" $options "diagramSource" .Inner) -}}

{{ partial "kroki.html" $params -}}
