{{ $params := dict "context" . }}

{{- with .sourceFile -}}
  {{- with $.Page.Resources.GetMatch . -}}
    {{ $params := merge $params ( dict "diagramSource" strings.Trim .Content "\r\n" ) }}
  {{- else -}}
    {{- errorf "Shortcode %q: unable to find diagram source file %q. See %s" "kroki" . $.Position -}}
  {{- end -}}
{{- else -}}
  {{ $params := merge $params ( dict "diagramSource" strings.Trim $.context.Inner "\r\n" ) }}
{{- end -}}

{{ partial "diagrams/kroki-render-hook.html" $params -}}
