{{ $params := dict "context" . "type" (.Get "type") "isShortcode" true -}}

{{- with .Get "sourceFile" -}}
  {{- with $.Page.Resources.GetMatch . -}}
    {{ $params = merge $params ( dict "diagramSource" ( strings.Trim .Content "\r\n" )) -}}
    {{- with $.Inner }}
      {{ $params = merge $params ( dict "options" ( unmarshal . )) -}}
    {{- end }}
    {{- else -}}
    {{- errorf "Shortcode %q: unable to find diagram source file %q. See %s" "kroki" . $.Position -}}
  {{- end -}}
{{- else -}}
  {{ $params = merge $params ( dict "diagramSource" ( strings.Trim .Inner "\r\n" )) -}}
{{- end -}}

{{ $params = merge $params ( dict "parameters" .Params ) -}}

{{ partial "kroki.html" $params -}}
